@charset "utf-8";

.navSection {
	font-family: Arial, Helvetica, sans-serif;
}

.firstSection {
	background: #333333;
	height: 4vh;
	width: 100%;
	color: white;
	position: relative;
	box-sizing: border-box;
	text-transform: uppercase;
	font-weight: 500;

	.firstContent {
		padding-top: 5px;
		display: flex;
		justify-content: center;
		align-items: center;

		font-size: 10px;
		letter-spacing: 5px;

		.firstPart {
			width: 33.3%;
			float: left;
			display: flex;
			justify-content: center;
		}

		.secondPart {
			width: 33.3%;
			float: center;
			display: flex;
			justify-content: center;
		}

		.thirdPart {
			width: 33.3%;
			float: right;
			display: flex;
			justify-content: center;
		}
	}

}

.secondSection {
	background: #f1f1f1;
	height: 15vh;
	width: 100%;
	color: black;
	position: relative;
	box-sizing: border-box;
	text-transform: uppercase;
	padding: 0 20px;

	.secondContent {
		margin: 30px;
		width: 33.33%;
		float: left;

		.userSection {
			font-size: 12px;
			letter-spacing: 3px;
			width: 100%;
			padding: 15px;
			opacity: 0.7;
			text-align: center;

			.signInSection {
				width: 20%;
				float: left;
				display: grid;
				cursor: pointer;
				grid-template-columns: auto auto auto auto;

				.signInIcon {
					margin: 8px 5px 10px 10px;
				}

				:hover {
					color: red;
				}
			}

			.line-separator1 {
				background: black;
				opacity: 0.5;
				height: 15px;
				width: 2px;
				float:left;
				margin: 7px;
				margin-top: 10px;
			}

			.registerSection {
				width: 20%;
				float: left;
				cursor: pointer;
				:hover{
					color: red;
				}
			}

			.line-separator2{
				background: black;
				opacity: 0.5;
				height: 15px;
				width: 2px;
				float:left;
				margin: 7px;
				margin-top: 10px;
			}

			.searchSection {
				width: 20%;
				float: left;
				display: grid;
				grid-template-columns: auto auto auto auto;
				cursor: pointer;

				.searchIcon {
					margin: 10px 5px 10px 10px;
				}

				:hover{
					color: red;
				}
			}
		}

	}
	.logoSection{
		width: 33.33%;
		float: left;
		margin: 10rem;
	}
}